body {
 font-family: Calibri, Verdana, sans-serif;
}

.ui-icon{
  cursor: pointer;
}

input[type=color]{
  width:14px;
  height:17px
}
input[type=number]{
  width:45px;
}

[contentEditable=true]:focus{
  outline:none;
  border:none;
  background: #ddd4
}

h2 {
 font-size:1.2em;
}
