body {
 font-family: Calibri, Verdana, sans-serif;
}

.ui-icon{
  cursor: pointer;
}

input[type=color]{
  width:14px;
  height:17px
}
input[type=number]{
  width:45px;
}

[contentEditable=true]:focus{
  outline:none;
  border:none;
  background: #ddd4
}

h2 {
 font-size:1.2em;
}




table{
  border-collapse: separate;
  border-spacing: 0
}
td,th{
  border: solid thin #777;
  border-style: none none solid solid;
  position:relative;
  padding:0 4px;
  font-weight: normal;
}
table tr:first-child >:first-child { border-top-left-radius: 5px; }
table tr:first-child >:last-child { border-top-right-radius: 5px; }
table tr:last-child >:first-child { border-bottom-left-radius: 5px; }
table tr:last-child >:last-child { border-bottom-right-radius: 5px; }
table tr:first-child > * { border-top-style: solid; }
table tr > :last-child { border-right-style: solid; }

.ui-icon-grip-dotted-horizontal{
  cursor:row-resize;
}

.draggable-left, .draggable-right{
  cursor:col-resize;

  position:absolute;
  left:0px;
  top:50%;
  background-position:-5px -224px;
  width:10px;
  margin-top:-8px;
}
.draggable-right{
  left:auto;
  background-position:0px -224px;
  right:0px;
  z-index: 100
}

.ui-tooltip-content{
  font-size: 0.8em
}
