html, body {
 margin: 0;
 padding: 0;
 }
body {
 font-family: Calibri, Verdana, sans-serif;
 display: flex;
}

section#class{
  flex:5 1 500px;
  display:none;
  padding:0 10px
}

.dayCheckBox{
    display:inline-block;
}

.dayCheckBox label{
  display:block;
  text-align: center;
}
