html, body {
 margin: 0;
 padding: 0;
 }
body {
 font-family: Calibri, Verdana, sans-serif;
 display: flex;
}

.ui-icon{
  cursor: pointer;
}

section#class{
  flex:5 1 500px;
  display:none;
  padding:0 10px
}

.dayCheckBox{
    display:inline-block;
}

.dayCheckBox label{
  display:block;
  text-align: center;
}
input[type=color]{
  width:14px;
  height:17px
}

#programmations{
  border-collapse: collapse;
    border: 3px solid #888
}
#programmations td, #programmations th{
  border:1px solid #888
}
#programmations th{
  font-weight: normal;
  min-width:40px
}
#programmations .periodBreak{
  border-left-width: 3px
}

#programmations .ui-icon, #programmationsEdit{
  display:none
}
