html, body {
 margin: 0;
 padding: 0;
 }
body {
 display: flex;
}

section#class{
  flex:5 1 500px;
  display:none;
  padding:0 10px
}

.dayCheckBox{
    display:inline-block;
}

.dayCheckBox label{
  display:block;
  text-align: center;
}

#programmations{
  border-collapse: separate;
  border-spacing: 0
}
#programmations td, #programmations th{
  border: solid thin #777;
  border-style: none none solid solid;
  position:relative;
  padding:0 4px
}
#programmations th{
  font-weight: normal;
  min-width:35px
}
#programmations th.programmation,#programmations th.subject{
  min-width:150px;
  text-align: left;
}
#programmations .periodBreak{
  border-left-width: medium
}

#programmations td.empty{
  cursor:cell
}

#programmations .progression .draggable-left, #programmations .progression .draggable-right{
  cursor:col-resize;

  position:absolute;
  left:0px;
  top:50%;
  background-position:-5px -224px;
  width:10px;
  margin-top:-8px;
}
#programmations .progression .draggable-right{
  left:auto;
  background-position:0px -224px;
  right:0px;
  z-index: 100
}

#programmations .ui-icon-grip-dotted-horizontal{
  cursor:row-resize;
}

#programmations tr:first-child >:first-child { border-top-left-radius: 5px; }
#programmations tr:first-child >:last-child { border-top-right-radius: 5px; }
#programmations tr:last-child >:first-child { border-bottom-left-radius: 5px; }
#programmations tr:last-child >:last-child { border-bottom-right-radius: 5px; }
#programmations tr:first-child > * { border-top-style: solid; }
#programmations tr > :last-child { border-right-style: solid; }
