html, body {
 margin: 0;
 padding: 0;
 }
body {
 display: flex;
}

section#class{
  flex:5 1 500px;
  display:none;
  padding:0 10px
}

.dayCheckBox{
    display:inline-block;
}

.dayCheckBox label{
  display:block;
  text-align: center;
}

 th{
  min-width:38px
}
#programmations th.programmation,#programmations th.subject{
  min-width:150px;
  text-align: left;
}
.periodBreak{
  border-left-width: medium
}

#programmations td.empty{
  cursor:cell
}



#programmationsEdit, #timeTablesEdit{
  margin-left:10px
}
