html, body {
 margin: 0;
 padding: 0;
 }
body {
 display: flex;
}

section#class{
  flex:5 1 500px;
  display:none;
  padding:0 10px
}

.dayCheckBox{
    display:inline-block;
}

.dayCheckBox label{
  display:block;
  text-align: center;
}

#programmations{
  border-collapse: separate;
  border-spacing: 0
}
#programmations td, #programmations th{
  border: solid 1px #555;
  border-style: none none solid solid;
  height:1px;
  position:relative;
  padding:0 4px
}
#programmations th{
  font-weight: normal;
  min-width:35px
}
#programmations th.prog,#programmations th.progGroup{
  min-width:150px;
  text-align: left;
}
#programmations .periodBreak{
  border-left-width: 2px
}

#programmations td.empty{
  cursor:cell
}

#programmations .progression .draggable-left{
  cursor:col-resize;
  width: 4px;
  height:100%;
  background-color: #ffffff55;
  position:absolute;
  left:0;
  top:0;
}
#programmations .progression .draggable-right{
  cursor:col-resize;
  display:block;
  width: 4px;
  height:100%;
  background-color: #ffffff55;
  position:absolute;
  right:0;
  top:0
}
#programmations .progression .editable{
  display:inline-block;
  float:left;
}

#programmations tr:first-child >:first-child { border-top-left-radius: 3px; }
#programmations tr:first-child >:last-child { border-top-right-radius: 3px; }
#programmations tr:last-child >:first-child { border-bottom-left-radius: 3px; }
#programmations tr:last-child >:last-child { border-bottom-right-radius: 3px; }
#programmations tr:first-child > * { border-top-style: solid; }
#programmations tr > :last-child { border-right-style: solid; }
