tr{
  height:5px
}
td, th{
  border-bottom-style:none;
}
th{
  border-bottom: thin solid #777;
}
tr.min55 > *, tr.min30 > th{
  border-bottom: thin solid #999;
}
tr.min25 > *, tr.min0 > th{
  border-bottom: thin solid #ccc;
}
th.day,td.slot{
  width:500px;
  min-width:100px
}

tr:last-child > td:first-child{
  border-bottom-left-radius:0
}

tr:nth-last-child(6) > :first-child{
  border-bottom-left-radius:5px
}




.slot,.coveredByASlot{
  flex:1;
  padding:0 3px;
}
.coveredByASlot{
  border-left:solid thin transparent;
  border-right:solid thin transparent;
}
.slot{
  overflow: auto;
  min-height: 12px;
  border:thin solid black;
  cursor:default;
  border-radius: 3px;
  height:500px
}
.slot .slotTime{
  font-size: 0.8em
}
.slotContainer{
  display:flex;
  position:absolute;
  bottom: 5px;
  width:100%;
  align-items:flex-end;
  height:1px
}
.editMode .slotContainer{
  width:90%;
}

td{
  position:relative;
  padding:0;
}
td.editMode{
  cursor:cell
}
