tr{
  height:5px
}
td, th{
  border-bottom-style:none;
}
th{
  border-bottom: thin solid #777;
}
tr.min55 > *, tr.min30 > th{
  border-bottom: thin solid #999;
}
tr.min25 > *, tr.min0 > th{
  border-bottom: thin solid #ccc;
}
th.day,td.slot{
  width:250px
}

tr:last-child > td:first-child{
  border-bottom-left-radius:0
}

tr:nth-last-child(6) > :first-child{
  border-bottom-left-radius:5px
}



td.empty{
  cursor:cell
}
td.slot{
  border-style:inset solid;
  border-color:black;
  border-width:medium;
  overflow: auto
}
td.slot .slotTime{
  font-size: 0.9em
}
