html, body {
 margin: 0;
 padding: 0;
 }

section#program{
  display:none;
  flex:1 1 500px;
  padding:0 10px;
  height:100vh;
  overflow:scroll;
}


aside#reference{
  display:none;
  background-color: #eee;
  flex: 1 1 300px;
  height:100vh;
  overflow:scroll;
  padding:0 10px;
}


#programItems{
  padding-left:0
}
#programItems li{
  list-style-type:none;
  display:flex;
  margin-bottom:3px
}
#programItems li .name{
  flex:1
}

#programItems a.link{
  visibility: hidden;
}


#programItems li.highlight   {
  font-weight:bold
}
